*.old
*.arm
*.x86
*.sed
.env
test/build/**
!test/build/*.template
!test/build/.balena/**
!/test/build/docker-bake.hcl
node_modules
build.log
balena-cloud-apps
balena-cloud-apps.log
dind-php7.log
package-lock.json
