# Javascript Node CircleCI 2.1 configuration file
#
# Check https://circleci.com/docs/language-javascript/ for more details
#
version: 2.1

defaults: &defaults
  working_directory: ~/repo
  docker:
    - image: cimg/node:lts
      auth:
        username: $DOCKER_USER
        password: $DOCKER_PASS

jobs:
  shellcheck:
    docker:
      - image: koalaman/shellcheck-alpine:stable
    steps:
      - checkout
      - run:
          name: Run shellcheck
          command: |
            find . -type f -name "*.sh" -exec shellcheck --exclude=SC2154,SC1091,SC2034,SC2096,SC2038 {} +

  test:
    <<: *defaults
    steps:
      - checkout
      - setup_remote_docker:
          version: default
      - restore_cache:
          keys:
            - v1-dependencies-{{ checksum "package.json" }}
            - v1-dependencies-
      - run:
          name: Install dependencies
          command: |
            if [ -f package-lock.json ]; then
              npm ci
            else
              npm install
            fi
            npm cache clean --force
      - run:
          name: Run tests
          command: |
            if [[ $EUID == 0 ]]; then
              export SUDO=""
            else
              export SUDO="sudo"
            fi
            set -e
            git config --global user.email "b23prodtm@users.sourceforge.net"
            git config --global user.name "B R T"
             npm test

      - save_cache:
          paths:
            - node_modules
          key: v1-dependencies-{{ checksum "package.json" }}

      - persist_to_workspace:
          root: ~/repo
          paths:
            - .

  deploy:
    <<: *defaults
    steps:
      - attach_workspace:
          at: ~/repo
      - run:
          name: Authenticate with registry
          command: |
            npm config set @b23prodtm:registry https://npm.pkg.github.com
            npm config set //npm.pkg.github.com/:_authToken=$gh_TOKEN
            npm config set //registry.npmjs.org/:_authToken=$npm_TOKEN
      - run:
          name: Publish package
          command: |
            npm ci
            npm publish

workflows:
  version: 2
  test-deploy:
    jobs:
      - shellcheck
      - test:
          requires:
            - shellcheck
      - deploy:
          requires:
            - test
          filters:
            branches:
              only: master
            tags:
              only: /v(\.?[0-9]+)*/